.keywordButton {
    background-color: #f5f5f5;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.keywordButton:hover {
    background-color: #e6e6e6
}

.listItem {
    background-color: #f5f5f5;
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-bottom: none;
    text-align: start;
    padding: 5px;
}

.listItem:hover {
    background-color: #e5e5e5;
}

.displayedListItem, .displayedListItem:hover {
    background-color: #d5d5d5;
}


.wordDefinitionBox {
    background-color: white;
}

.bigTerm {
    font-size: 24px;
    margin: 5px;
}

.smallTerm {
    font-size: 16px;
    margin: 5px;
}

.selectedTerm {
    font-weight: bold;
}

.selectionScreenComponent {
    margin-bottom: 1.5%;
}

.searchResultBox {
    border-style: solid;
    border-color: black;
    border-width: thin;
    display: flex;
    justify-content: center;
    height: 500px;
}


.searchResultDisplayComponent {
    flex: 1;
    height: inherit;
    overflow-y: scroll;
}

.wordDefinitionBox {
    padding: 8px;
}

.wordDefinitionBoxTitle {
    font-size: 18px;
}

.wordDefinitionBoxContent {
    margin: 10px 0px;
}

.wordDefinitionBoxContent ol{
    margin: auto;
    text-align: left;
}

.wordDefinitionHr {
    margin: 0px;
}

.termKanjiListItem {
    margin-bottom: 10px;
}

.termKanji {
    font-size: 24px;
}