.keywordButton {
    background-color: #f5f5f5;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.keywordButton:hover {
    background-color: #e6e6e6
}

.listItem {
    background-color: #f5f5f5;
    border-style: solid;
    border-color: black;
    border-width: thin;
    text-align: start;
    padding: 5px;
}

.listItem:hover {
    background-color: #e5e5e5;
}

.displayedListItem, .displayedListItem:hover {
    background-color: #d5d5d5;
}

.searchResultDisplayComponent {
    flex: 1;
    height: 500px; 
    overflow-y: scroll;
}

.wordDefinitionBox {
    background-color: white;
}

.bigTerm {
    font-size: 24px;
    margin: 5px;
}

.smallTerm {
    font-size: 16px;
    margin: 5px;
}

.selectedTerm {
    font-weight: bold;
}